:root {
  --dark-grey: #24232c;
  --grey: #817d92;
  --almost-white: #e6e5ea;
  --very-dark-grey: #18171f;
  --neon-green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
}

html {
  background-color: #000;
  color: var(--grey);
}
